html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.treegrid-expander-expanded {
    background: #f49c11;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    bottom: -5px;
    margin: 0 5px;
}
.treegrid-expander{
    background: #f49c11;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    bottom: -5px;
    margin: 0 5px;
}
.treegrid-expander-collapsed{
    background: red;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    bottom: -5px;
    margin: 0 5px;
}
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.image-preview{
    display: inline-block;
    position: relative;
}
.image-preview > button.btn-danger{
    position: absolute;
    top:-16px;
    right:-19px;
}
#doublescroll { overflow: auto; overflow-y: hidden; }
#doublescroll p { margin: 0; padding: 1em; white-space: nowrap; }
.add-image-block{
    float: left;
}
.show-images .list-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.show-images .list-view > div{
    width: 100%;
    max-width: 320px;
    margin: 0 30px 30px;

}
.table > tbody > tr > td{
    vertical-align: middle;
}
.find-product-container{
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background: #fff;
    border: 1px solid #d2d6de;
    padding: 15px;
    z-index: 1;
}