@media (max-width: 768px) {

    #header .header-choice .btn{
        padding: 4px 4px;
    }

    #header .header-choice .left{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    #header .header-choice .right{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    #header .header-contacts{
        margin-bottom:0;
    }
    #header .header-contacts .left p {
        padding: 5px 8px;
        margin:0 3px 15px !important;
    }

    #header .header-contacts .left{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #header .logo .left{
        margin-bottom:15px;
        text-align: center;
    }
    #header .logo .right{
        text-align: center;
    }
    
    #footer .footer-contacts .left p{
        padding: 5px 8px;
        margin:0 3px 15px !important;
    }
}