.text-white{
    color: #fff;
}
.text-danger{
    color: #fd4d1e;
}
.main_button{
    border: 1px solid #fff;
    text-align: center;
    font-weight: bold;
    background: #fd4d1e;
}
.main_button:hover{
    border: 1px solid #fff;
    background: #d84017;
}
#main_page_header{
    position: relative;
}
#main_page_header > h2 {
    position: absolute;
    top: 3%;
    left: 28%;
}
#main_page_header form {
    position: absolute;
    top: 43%;
    left: 19%;
}
#main_page_header .FCForm_6614 {
    position: absolute;
    top: 43%;
    left: 19%;
}
#main_page_header form input{
    font-weight: normal;
}
#main_page_header form .main_button{
    width: 100%;
    text-transform: uppercase;
}
.main_head_footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,.7);
    margin: 0 !important;
}
.main_head_footer .table{
    margin: 0;

}
.main_head_footer .table td{
    vertical-align: middle;
    text-align: center;
    line-height: 13px;
    padding: 15px 8px;
}
.main_head_footer .table td .main_button{
    width: 50px;
    padding: 0;
    height: 25px;
    line-height: 25px;
}
@media(max-width: 991px){
    .main_head_footer{
        position: static;
        background: rgba(0,0,0,.1);
    }
    #main_page_header form {
        top: 32%;
    }
    #main_page_header .FCForm_6614 {
        top: 32%;
        max-width: 400px;
    }
}
@media(max-width: 768px){
    #main_page_header form {
        position: static;
        margin: 0 auto;
        padding: 15px;
    }
    #main_page_header .FCForm_6614 {
        position: static;
        margin: 0 auto;
        padding: 15px;
    }
}
@media(max-width: 575px){
    #main_page_header h2 {
        position: static;
        padding: 15px;
        color: #000;
    }
}
 #map{
     position: relative;
 }
#map .map_header{
    color: #fff;
    text-align: center;
    padding: 20px 15px;
    background: rgba(171, 192, 20, .8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
}
@media(max-width: 991px){
    #map .map_header{
        position: static;
    }
}

 #change{
     padding: 15px;
 }
.change_header{
    position: relative;
    height: 180px
}
.change_header .img1{
    position: absolute;
    left: 0;
    top: 0;
}
.change_header .img2{
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 1;
}
.change_header h3{
    font-weight: normal;
    position: absolute;
    top: 40px;
    right: 60px;
    z-index: 2;
}
.change_header h4{
    font-weight: bolder;
    position: absolute;
    font-size: 36px;
    top: 90px;
    right: 60px;
    z-index: 2;
}
@media(max-width: 1199px){
    .change_header h3{
        right: 10px;
        font-size: 22px;
    }
    .change_header h4{
        right: 10px;
        font-size: 33px;
    }
}
@media(max-width: 991px){
    .change_header h3{
        position: static;
        text-align: center;
    }
    .change_header h4{
        position: static;
        text-align: center;
    }
    .change_header .img2{
        display: none;
    }
    .change_header .img1{
        position: static;
        display: block;
        width: 127px;
        margin: 15px auto;
    }
    .change_header {
        position: relative;
        height: auto;
    }
}
.change {
    padding: 5px;
}
.change > div{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    background: #cb0000;
    margin-bottom: 15px;
}
.change.right > div{
    background: #9ab500;
}
.change ul{
    list-style: none;
    padding-left: 55px;
}
.change ul li{
    position: relative;
}
.change ul li div{
    height: 55px;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 15px;
}
.change ul li:before{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../image/design/ok.png) 50% 50%;
    position: absolute;
    left: -55px;
    top: 3px;
}
.change.left ul li:before{
    background: url(../image/design/stop.png) 50% 50%;
}

 #work{
     padding-left: 90px;
     position: relative;
     /* background: url(/image/design/fon1.jpg) 50% 50%/cover no-repeat; */
 }
#work > h2{
    font-size: 40px;
    height: 45px;
    line-height: 45px;
    width: 400px;
    text-align: center;
    transform: rotate(-90deg);
    position: absolute;
    left: -155px;
    top: 175px;
}
.work{
    margin-bottom: 30px;
}
.work > div{
    display: inline-block;
}
.work .number{
    color: #f65f38;
    font-weight: bold;
    font-size: 50px;
    position: relative;
    top: 5px;
}
.work .you{
    color: #f65f38;
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px;
}
.work .corner{
    position: relative;
}
.work .corner .you_desc{
    position: absolute;
    font-weight: bold;
    width: 400px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    left: 30px;
    top: 10px;
}
.work .corner .corner_icon{
    position: absolute;
    top: 0;
    right: 65px;
}
.work .corner .we{
    position: absolute;
    color: #00c4cf;
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px;
    top: 27px;
    right: 20px;
}
.work .we_desc{
    margin-left: 10px;
    width: 370px;
}
.work.work_big .number{
    color: #f65f38;
    font-weight: bold;
    font-size: 50px;
    position: relative;
    top: 15px;
}
.work.work_big .you{
    color: #f65f38;
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px;
    position: relative;
    top: 13px;
}
.work.work_big .corner{
    position: relative;
}
.work.work_big .corner .you_desc{
    position: absolute;
    font-weight: bold;
    width: 400px;
    height: 90px;
    display: table-cell;
    vertical-align: middle;
    left: 30px;
    top: 25px;
}
.work.work_big .corner .you_desc ul{
    padding-left: 15px;
    list-style: none;
}
.work.work_big .corner .you_desc ul li{
    position: relative;
}
.work.work_big .corner .you_desc ul li:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #f65f38;
    border-radius: 100%;
    position: absolute;
    left: -15px;
    top: 6px;

}
.work.work_big .corner .corner_icon{
    position: absolute;
    top: 25px;
    right: 65px;
}
.work.work_big .corner .we{
    position: absolute;
    color: #00c4cf;
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px;
    top: 59px;
    right: 20px;
}
.work.work_big .we_desc{
    margin-left: 10px;
    width: 380px;
}
.work.work_big .we_desc ul{
    padding-left: 15px;
    list-style: none;
    display: inline-table;
    position: relative;
    top: -40px;
}
.work.work_big .we_desc ul li{
    position: relative;
}
.work.work_big .we_desc ul li:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #00c4cf;
    border-radius: 100%;
    position: absolute;
    left: -15px;
    top: 6px;

}
@media(max-width: 1199px){
    .work .we_desc{
        width: 205px;
    }
    .work.work_big .we_desc{
        width: 205px;
    }
    .work.work_big .we_desc ul{
        top: -80px;
    }
}
@media(max-width: 991px){
    #work{
        padding: 0;
    }
    #work h2{
        position: static;
        transform: rotate(0deg);
        width: 100%;
    }
    .work .we_desc{
        display: block;
        width: 380px;
        float: right;
    }
    .work.work_big .we_desc{
        display: block;
        width: 380px;
        float: right;
    }
    .work{
        clear: both;
        margin-bottom: 80px;
    }
    .work.work_big .we_desc ul{
        top: 0;
    }
}
@media(max-width: 768px){
    .work{
        padding: 15px;
    }
    .work .number{
        width: 48%;
        text-align: right;
    }
    .work .you{
        width: 48%;
        text-align: left;
        margin: 0;
    }
    .work .corner{
        display: block;
    }
    .work .corner > img{
        display: none;
    }
    .work .corner .you_desc{
        position: static;
        display: block;
        width: auto;
        max-width: 380px;
        height: auto;
    }
    .work .we_desc{
        width: auto;
        max-width: 380px;
        text-align: right;
    }
    .work .corner .corner_icon{
        position: static;
        width: 48%;
        text-align: right;
        display: inline-block;
    }
    .work .corner .we{
        position: static;
        width: 48%;
        text-align: left;
        display: inline-block;
        margin: 0;
    }
    .work.work_big .you{
        width: 48%;
        text-align: left;
        margin: 0;
    }
    .work.work_big .corner .you_desc{
        position: static;
        display: block;
        width: auto;
        max-width: 380px
    }
    .work.work_big .corner .corner_icon{
        position: static;
        width: 48%;
        text-align: right;
        display: inline-block;
    }
    .work.work_big .corner .we{
        position: static;
        width: 48%;
        text-align: left;
        display: inline-block;
        margin: 0;
    }
    .work.work_big .we_desc{
        width: auto;
        max-width: 380px
    }
}
#why .col-lg-4 p{
    padding: 10px;
}
#opt_footer{
    background: url(../image/design/fon2.jpg) 50% 50%/cover no-repeat;
    padding: 30px 0;
}
#opt_footer .row > div{
    padding: 0 30px;
}
#opt_footer h4{
    text-transform: uppercase;
}
#opt_footer h4 big{
    font-size: 50px;
}
#opt_footer li{
    color: #fff;
    max-width: 400px;
    position: relative;
    margin-bottom: 15px;
    list-style: none;
}
#opt_footer li:before{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: url(../image/design/marker.png) 50% 50% no-repeat;
    position: absolute;
    left: -45px;
}