/* COMMON */
html,
body {
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
}
.text-black{
    color: #000;
}
.text-white{
    color: #fff;
}
.btn{
    padding:4px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.clear{
    clear: both;
}
.btn-tos{
    background: #282828;
    border: 1px solid #282828;
    color: #fff;
    transition: all .15s linear;
}
.btn-tos.active{
    background: #282828;
    border: 1px solid #282828;
    color: #ead700;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .4);
}
.btn-tos.active:hover{
    background: #282828;
    color: #ead700;
    border: 1px solid #282828;
}
.btn-tos:hover{
    background: #282828;
    color: #ead700;
    border: 1px solid #282828;
}
.btn-tos:active, .btn-tos:focus{
    background: #282828;
    color: #ead700;
    border: 1px solid #282828;
}

.btn-ytos{
    background: #ead700;
    border: 1px solid #ead700;
    color: #282828;
    transition: all .15s linear;
}
.btn-ytos.active{
    background: #282828;
    border: 1px solid #ead700;
    color: #ead700;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .4);
}
.btn-ytos.active:hover{
    background: #282828;
    border: 1px solid #ead700;
    color: #ead700;
}
.btn-ytos:hover{
    background: #282828;
    border: 1px solid #ead700;
    color: #ead700;
}
.btn-ytos:active, .btn-ytos:focus{
    background: #282828;
    border: 1px solid #ead700;
    color: #ead700;
}















/* HEADER */

#header{
    background: #16120f;
    color: #fff;
}

#header .header-choice .left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 15px 0 0;
}

#header .header-choice .right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 15px 0 0;
}

#header .header-choice .left div + div{
    margin-left: 10px;
}

#header .header-choice .right a + a{
    margin-left: 10px;
}
#header .header-choice #shipping .shipping-input{
    background: #282828;
    padding: 6px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    border: none;
    outline: none !important;
}
#header .header-choice #shipping .shipping-input option:checked{
    color: #ead700;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .4);
}
#header .header-contacts{
    margin-top: 15px;
    margin-bottom: 15px;
}

#header .header-contacts .left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
#header .header-contacts .left p{
    background: #282828;
    padding: 5px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:0;
}
#header .header-contacts .left p + p{
    margin-left:10px;
}
#header .header-contacts .left p i{
    color: #ead700;
    display: inline-block;
    margin-right: 5px;
}
#header .logo img{
    max-width: 100%;
}
#header .logo .right{
    text-align: right;
}
#header .btn.focus{
    outline: none !important;
}
#login-modal{
    color: #000;
}
#main-menu{
    background-color: #242424;
    border: none;
    border-radius: 0;
    margin-top: 15px;
}
#main-menu a{
    transition: all .15s linear;
    color: #fff;
}
#main-menu a:hover{
    color: #dfd800;
    text-decoration: none;
}
#main-menu li.active a{
    background: #16120f;
}

.main-header{
    margin: 0 auto 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    position: relative;
}
.main-header:before{
    content: '';
    display: block;
    background: url('../image/design/under_header.png') 50% 50%/cover no-repeat;
    width: 230px;
    height: 27px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    bottom: -30px;
}








/* Дерево многоуровневое
-------------------------------- */
#category-tree {
    padding: 15px 15px 30px;
    font-size: 16px;
    background: #0e0a06;
}
#category-tree h3{
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #282828;
    color: #e5dd00;
    text-transform: uppercase;
    font-size: 18px;
}
#category-tree span {
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: solid #282828;
    border-width: 0 0 1px 1px;
}
#category-tree span a {
    display: block;
    position: relative;
    top: .95em;
    margin: 0 0 2px 4px;
    background: #282828;
    padding: 5px 12px;
    border-radius: 5px;
    color: #fff;
    transition: all .15s linear;
}
#category-tree span a:hover, #category-tree span a.active {
    color: #dfd800;
    text-decoration: none;
}
#category-tree  ul, li {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
#category-tree  ul li {
    line-height: 1.2em;
}
#category-tree ul li ul {
    display: none; /* узлы свернуты */
}
#category-tree ul li ul li {
    margin: 0 0 0 1.2em;
    border-left: 1px solid #282828; /* цвет вертикальной линии между узлами */
}
#category-tree li.last {/* последний узел, соединительную линию к след. узлу убираем */
    border: none;
}
#category-tree .marker {
    margin: -8px 0 0 0;
    float: right;
    width: 15px;
    height: 15px;
    display: block;
    background: transparent;
    color: #fff;
    position: relative;
    top: 50%;
    right: 2px;
    transition: all .15s linear;
    cursor: pointer;
}
#category-tree .marker:hover{
    color: #dfd800;
}










.belongings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.belongings .belonging{
    margin: 15px;
    max-width: 30%;
    min-width: 280px;
    position: relative;
}
.belongings .belonging img{
    width: 100%;
}
.belongings .belonging a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
    transition: all .15s linear;
}
.belongings .belonging a:hover{
    background: rgba(255,255,255,.2);
}
.belongings .belonging a span{
    display: block;
    width: 100%;
    padding: 15px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -40px;
    font-size: 30px;
    color: #0e0a06;
    text-transform: uppercase;
    font-weight: bold;
}
#product-price{
    padding: 6px;
}
#product-price .img-thumbnail{
    width: 100%;
    min-width: 100px;
    max-width: 180px;
}
#product-price h3{
    margin: 0 0 15px;
}
#product-price .table{
    overflow: hidden;
}


.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}
.products .pagination{
    width: 100%;
}
.products .summary{
    width: 100%;
}
.products .product{
    margin: 5px 5px 15px;
    width: 280px;
    box-shadow: 0 0 5px #ccc, 0 0 5px #ccc;
    transition: all .15s linear;
    border-bottom: 8px solid #fff;
}
.products .product:hover{
    border-bottom: 8px solid #e5dd00;
}
.products .product .image img{
    width:100%;
}
.products .product .product-body{
    padding: 15px;
}
.products .product .product-body .name{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.products .product .product-body .table .price{
    font-size: 18px;
    display: block;
    position: relative;
    top: -5px;
    white-space: nowrap;
}
.product-carousel{
    margin:0;
}
.product-carousel .owl-wrapper .owl-item{
    padding:5px 5px 15px;
    min-width: 290px;
}
.product-carousel .owl-wrapper .owl-item .product{
    margin: 0 auto;
}
.product-carousel .owl-controls .owl-buttons .owl-next{
    right: 0;
    top: 50%;
    width: 80px;
    height: 80px;
    font-size: 50px;
    color: #e5dd00;
    opacity: .8;
    text-align: center;
    line-height: 80px;
    margin-top: -40px;
    transition: all .15s linear;
}
.product-carousel .owl-controls .owl-buttons .owl-prev{
    left: 0;
    top: 50%;
    width: 80px;
    height: 80px;
    font-size: 50px;
    color: #e5dd00;
    opacity: .7;
    text-align: center;
    line-height: 80px;
    margin-top: -40px;
    transition: all .15s linear;
}
.product-carousel .owl-controls.clickable .owl-buttons div:hover{
    opacity:1;
}

.list-group-flex-center{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
}
#gallery{
    padding:0;
}
#gallery li:first-child img{
    margin:0;
}
#gallery li img{
    margin:5px;
}
.product-index .price{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: red;
}
.product-index .price span{

}
.info-index img{
    max-width: 100%;
    height: auto !important;
}


#footer{
    background: #0e0a06;
    color: #fff;
    padding: 40px 0;
    margin-top: 40px;
}
#footer .footer-contacts{
    margin-top: 15px;
    margin-bottom: 15px;
}
#footer .footer-contacts .left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
#footer .footer-contacts .left p{
    background: #282828;
    padding: 5px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0;
}
#footer .footer-contacts .left p + p{
    margin-left:10px;
}
#footer .footer-contacts .left p i{
    color: #ead700;
    display: inline-block;
    margin-right: 5px;
}

#call-me-button{
    position: fixed;
    right: 30px;
    bottom: 50px;   
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    font-size: 40px;
    border-radius: 100%;
}